<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To E-Wallet</title>
    <!-- ============== FAVICON =============== -->
    <link rel="shortcut icon" type="image/png" href="/logo/favi.png">

    <!-- ============== BOOTSTRAP CSS =============== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- ============== CSS =============== -->
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <header id="header">
         <!-- ============ HEADER ==================== -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> <img src="/logo/download.jpg" alt="" srcset=""> </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#banner">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#footer">ABOUT US</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      SERVICES
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#recharge">Reacharge</a></li>
                      <li><a class="dropdown-item" href="#recharge">Bill Payment</a></li>
                      <li><a class="dropdown-item" href="#booking">Bookings</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT US</a>
                  </li>
                </ul>
                <a href="/signin" target="_blank" class="btn btn-outline-primary me-3 nav-btn">Sign In</a>
                <a href="/signup" target="_blank" class="btn btn-outline-success nav-btn">Sign Up</a>
                
              </div>
            </div>
          </nav>
    </header>
    <main class="main">
        <!-- ============ BANNER ==================== -->
        <section id="banner" class="banner">
            <div class="container-fluid">
                <div class="row banner-text">
                    <div class="col-sm-8 col-10 m-auto text-center" >
                        <h2 class="mb-3">Welcome to the E-wallet</h2>
                        <h4>A promise of Safest Payment</h4>
                        <a href="/signup" class="banner-btn ">Get Started With Us</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- ================== CARDS ======================= -->
        <section id="cards" class="cards d-non">
            <div class="container-fluid">
                <div class="container">
                  <div class="row">
                    <h2 class="text-center pt-4">Important Blogs For You</h2>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="card">
                            <img src="/img/money.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Want Loan ?</h5>
                              <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Explore</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="card">
                            <img src="/img/lapi.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Interest Rates</h5>
                              <p class="card-text text-dark ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="card">
                            <img src="/img/comp.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Credit Card</h5>
                              <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Get Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="card">
                            <img src="/img/credit.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Credit Card</h5>
                              <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Get Details</a>
                            </div>
                          </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <!-- ==================== RECHARGE ====================== -->
        <section class="recharge mt-2" id="recharge">
          <div class="container-fluid">
            <div class="container pb-4">
              <div class="row p-3">
                <h2 class="my-4">Recharge & Pay Bills on Ewallet.</h2>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/mobileR.png" alt="">
                      </div>
                      <div class="card-info">
                        Recharge Prepaid Mobile
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/electricityR.png" alt="">
                      </div>
                      <div class="card-info">
                        Pay electricity Bill
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/dthR.png" alt="">
                      </div>
                      <div class="card-info">
                        Recharge DTH Connection
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/gasR.png" alt="">
                      </div>
                      <div class="card-info">
                        Book Gas Cylinder
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/creditR.png" alt="">
                      </div>
                      <div class="card-info">
                        Pay Credit <br> Bills
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="logo/serR.png" alt="">
                      </div>
                      <div class="card-info">
                        All Payment Services
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ==================== Booking ====================== -->
        <section class="booking mt-2" id="booking">
          <div class="container-fluid">
            <div class="container pb-4">
              <div class="row p-3">
                <h2 class="my-4">Book & Buy on Ewallet</h2>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/movieT.png" alt="">
                      </div>
                      <div class="card-info">
                        Movie Ticket
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/trainT.png" alt="">
                      </div>
                      <div class="card-info">
                        Train Ticket
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/flightT.png" alt="">
                      </div>
                      <div class="card-info">
                        Flight Ticket
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/busT.png" alt="">
                      </div>
                      <div class="card-info">
                        Bus Ticket
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/insuT.png" alt="">
                      </div>
                      <div class="card-info">
                        Buy Insurance
                      </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="my-card">
                      <div class="card-img">
                        <img src="/logo/stockT.webp" alt="">
                      </div>
                      <div class="card-info">
                        Invest in Stock
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- ================== CONTACT ======================= -->
        <section id="contact" class="contact d-non">
            <div class="container-fluid">
                <div class="container py-4">
                  <div class="row">
                    <div class="col-lg-5 col-md-10 col-11 mx-auto p-4 contact-form">
                        <h2 class="text-center mb-4 text-success">Contact Us</h2>

                        <form class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control w-" id="name" name="name">
                            </div>

                            <div class="col-md-6 mb-3">
                              <label for="email" class="form-label">Email:</label>
                              <input type="email" class="form-control " name="email" id="email" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Comment/Suggestion</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                    </div>

                    <div class="col-lg-6 col-md-10 col-11 mx-auto">
                        
                      <div id="carouselExampleIndicators" class="carousel slide carousel-fade mx-auto mt-4 border rounded">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item">
                              <img src="/img/andrea.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item active">
                              <img src="/img/antoni.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="/img/vlada.jpg" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ================== Footer ======================= -->
    <footer id="footer" class="footer">
      <div class="container-fluid footer1 text-light">
          <div class="container p-4">
            <div class="row border-bottom">
              <div class="col-md-3">
                  <h1>E-WALLET</h1>
                  <small class="text-center">By Dayalu Patel</small>
              </div>
              <div class="col-md-5">
                  <p>The next-generation payment app,
                    Recharge & pay bills, book flights & movie tickets, open a savings account, invest in stocks & mutual funds, and do a lot more.
                  </p>
              </div>
              <div class="col-md-4">
                  <form action="" class="form-group">
                      <div class="d-flex mb-1">
                          <input type="email" class="form-control me-2 mb-2" placeholder="Enter your email address">
                          <button class="btn btn-primary">Subscribe</button>
                      </div>
                      <div class="text-md-end">
                          <p>By subscribing you agree to our <a href="" class="text-light">Privacy Policy</a></p>
                      </div>
                  </form>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                  <h5 class="mb-4">Articles</h5>
                  <div class="mb-4">
                      <button class="btn btn-danger btn-sm py-0 mb-2">Updates</button>
                      <h6>Up-comming updates, you must watch.</h6>
                  </div>
                  <div>
                      <button class="btn btn-primary btn-sm py-0 mb-2">Marketing</button>
                      <h6>Marketing
                          How did we get here? The history of the business told through tweets.</h6>
                  </div>
              </div>
              <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                  <h5 class="mb-4">Recharges & Bill Payments</h5>
                  <div class="row">
                      <div class="col">
                          <a href="" class="d-block text-decoration-none text-white mb-1">Mobile Recharge <span
                            class="badge bg-danger text-light">Pending</span></a></a>

                          <a href="" class="d-block text-decoration-none text-white mb-1">Datacard Recharge</a>
                          <a href="" class="d-block text-decoration-none text-white mb-1">Gas Bill Recharge</a>
                          <a href="" class="d-block text-decoration-none text-white mb-1">Credit Bill Recharge</a>
                          <a href="" class="d-block text-decoration-none text-white mb-1">CableTV Recharge</a>
                          <a href="" class="d-block text-decoration-none text-white mb-1">Postpad Payments</a>
                      </div>
                      
                  </div>
              </div>
              <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                  <h5 class="mb-4">Get Regular Updates</h5>
                  <a href="" class="d-block text-decoration-none text-white mb-1">
                      <i class="fab fa-whatsapp footer-social-icon"></i>Whatsapp</a>
                  <a href="" class="d-block text-decoration-none text-white mb-1"><i
                          class="fab fa-youtube footer-social-icon"></i>Youtube</a>
                  <a href="" class="d-block text-decoration-none text-white mb-1"><i
                          class="fas fa-bell footer-social-icon"></i>Website Notification</a>
                  <a href="" class="d-block text-decoration-none text-white mb-1"><i
                          class="fas fa-envelope footer-social-icon"></i>Newsletters</a>
                  <a href="" class="d-block text-decoration-none text-white mb-1"><i
                          class="fas fa-headphones-alt footer-social-icon"></i>Podcast</a>

              </div>
              <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                  <div>
                      <h5 class="mb-4">Our mobile App</h5>
                      <p>Download our App and get the transaction at a single click with safest Payment mode and also get benefits of other  latest techlogies.</p>
                  </div>
                  <div class="row">
                      <div class="col-6"><img src="/img/app-store.svg" alt=""></div>
                      <div class="col-6"><img src="/img/google-play.svg" alt=""></div>
                  </div>

              </div>
          </div>
        </div>
      </div>
      <div class="container-fluid copyright py-3 bg-dark text-light">
          <div class="container">
              <div class="row mt-2">
                  <div class="col-md-5 text-md-start text-center">
                      <p>&copy; 2022 e-wallet. All rights reserved.</p>
                  </div>
                  <div class="col-md-7 text-md-end text-center">
                      <a href="" class="mx-2 text-light text-decoration-none">English Edition</a>
                      <a href="" class="mx-2 text-light text-decoration-none">Policy</a>
                      <a href="" class="mx-2 text-light text-decoration-none">Privacy</a>
                      <a href="" class="mx-2 text-light text-decoration-none">Cookies</a>
                  </div>
              </div>
          </div>

      </div>

  </footer>


    <!-- HTML ENDS HERE -->

    <!-- scrips -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
